* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav.desktop {
    float: left;
    width: 300px;
}

nav ul {
    list-style: none;
}

nav.desktop a {
    display: block;
    line-height: 72px;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-family: arial;
    padding: 0 5px 0 30px;
    text-transform: uppercase;
}

nav.desktop i {
    width: 50px;
    border-right: 2px solid black;
    margin-right: 30px;
    transition: .3s;
}

nav.desktop a:hover i {
    margin-right: 50px;
}

nav.desktop a:hover {
    color: rgb(251, 214, 73);
}

nav.desktop, header {
    height: 360px;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    float: left;
    width: calc(100% - 300px);
    background-image: url(pianino.jpg);
    background-size: cover;
}

section {
    margin-top: 50px;
}

section h1 {
    font-size: 40px;
    font-family: arial;
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

nav.mobile {
    display: none;
} 

@media (max-width: 1024px ) {
    nav.desktop {
        display: none;
    }

    nav.mobile {
        display: block;
        position: fixed;
        width: 72px;
        height: 100%;
        background-color: black;
    }

    nav.mobile a {
        display: block;
        line-height: 10vh;
        color: white;
        font-size: 30px;
        text-align: center;
    }

    nav.mobile a:hover {
        color: rgb(251, 214, 73);
    }

    header {
        width: calc(100% - 72px);
    }
}


