* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

img:nth-child(2) {
    animation: banner 5s linear infinite;
}

@keyframes banner {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}