.arrow {
    position: fixed;
    bottom: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border-style: none;
    background-color: #E0C2EB;
    font-size: 50px;
    color: white;  
    overflow: hidden;
    cursor: pointer;
}

.arrow i {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 -20px 0 white, 0 -40px 0 white;
    animation: down 1s linear infinite;
}

.arrow:hover i {
    animation-duration: .7s;
}

@keyframes down {
    100% {
        top: 160%
    }
}