button {
    display: block;
    position: relative;
    margin: 100px auto;
    font-size: 40px;
    padding: 10px 30px;
    background-color: transparent;
    border: 2px solid black;
    transition: .3s linear;
    overflow: hidden;
    color: #000;
    transition: .2s .2s;
}

button::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    width: 100%;
    height: 20%;
    background-color: rgb(91, 207, 207);
    transform: translateY(-50%);
    transition: left .2s, height .1s .2s;
    z-index: -1;
}

button:hover::before {
    left:0;
    height: 102%;
}

button:hover {
    color: #fff;
}